/* Color Scheme
Background: D6E9FE (Beau Blue)
Primary: 273469 (Space Cadet)

Optional Colors:
30343F (Gunmetal)
35CE8D (Carubbean Green)
Boarders: 93827F (Cinerous)
*/
:root {
  --primary-color: #273469;
  --background-color: #D6E9FE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10;
}

/*Lists*/

ul li, ol li {
  list-style-position: inside;
  padding-left: 2.5em;
}

.resume-lists {
  list-style-type: none;
}


/* Header Section */
.header-container {
  display: flex;
  justify-content: center;
}

.header {
  color: var(--background-color);
  background-color: var(--primary-color);
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}




/* Page Section */

.page, section {
    margin: 10px;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.textblock {
  margin: 20px;
  text-align: justify;
  line-height: 2em;
  text-indent: 1.5em;
  margin: 2em;
}


/* Info Grid */

.info-grid-container {
  padding: 3%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.info-grid {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.info-grid-item {
  width: 400px;
  height: 400px;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}

.profile-photo {
  margin: 10px;
  border: 10px solid var(--primary-color);
  display : inline-block;
  max-height: 379px;
}


/* Footer Section */
.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  border: 1px solid var(--background-color);
  background-color: var(--background-color);
  height: 200px;
  flex: 1;
}

.footer-one,
.footer-three, 
.footer-one a,
.footer-three a{
  color: var(--background-color);
  background-color: var(--primary-color);
  flex: initial;
  width: 300px;
}


