/* Color Scheme
Background: D6E9FE (Beau Blue)
Primary: 273469 (Space Cadet)

Optional Colors:
30343F (Gunmetal)
35CE8D (Carubbean Green)
Boarders: 93827F (Cinerous)
*/
:root {
  --primary-color: #273469;
  --background-color: #D6E9FE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10;
}

@media only screen and (min-width: 580px) {
  .textblock {
    max-width: 100%;
    margin-left: 2em;
    margin-right: 2em;
  }
}

.textblock {
  margin: 20px;
  text-align: justify;
}



/* Header Section */
.header-container {
  display: flex;
  justify-content: center;
}

.header {
  color: var(--background-color);
  background-color: var(--primary-color);
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}




/* Page Section */

section {
    border: 3%; /* for testing */
    border-color: black;
}

.page {
  background-color: var(--background-color);
  color: var(--primary-color);
}




.info-grid-container {
  padding: 3%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.info-grid {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.info-grid-item {
  width: 400px;
  height: 400px;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}

.profile-photo {
  margin: 10px;
  border: 10px solid var(--primary-color);
  display : inline-block;
  max-height: 379px;
}




